<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../base.css">
    <link rel="stylesheet" href="./font/iconfont.css">
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="">index</a>
            </li>
            <li>
                <a href="">weike</a>
            </li>
            <li>
                <a href="">serve</a>
            </li>
        </ul>
    </header>
    <div class="content">
        <div class="container">
            <div class="flex">
                <ul class="menu-inline">
                    <li class="menu-item">
                        <div class="menu-submenu-title">
                            <i class="iconfont icon-tago"></i>个人中心
                        </div>
                    </li>
                    <li class="menu-submenu-inline menu-submenu-open menu-submenu" onclick="clicked(this)">
                        <div class="menu-submenu-title">
                            <i class="iconfont icon-tago"></i>个人中心
                        </div>
                        <ul class="menu menu-inline menu-sub">
                            <li class="menu-item sub-mini menu-item-selected">我接到的订单</li>
                            <li class="menu-item sub-mini">我接到的订单</li>
                            <li class="menu-item sub-mini">我接到的订单</li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <div class="menu-submenu-title">
                            <i class="iconfont icon-tago"></i>个人中心
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>关于我们</li>
            <li>下载app</li>
            <li>联系我们</li>
        </ul>
    </footer>
</body>
<script>
    function clicked(self) {
        hasClass(self, "menu-submenu-open");
    }

    function hasClass(obj,sClass) {

        var oldClass = obj.className;

        var re = new RegExp('\\b' + sClass + '\\b');

        if (re.test(oldClass)) {

            obj.className=obj.className.split(sClass).join("").replace(/\s+$/,"")

        } else {

            obj.className = oldClass +" "+ sClass

        }
    }

</script>
</html>