<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../base.css">
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="">index</a>
            </li>
            <li>
                <a href="">weike</a>
            </li>
            <li>
                <a href="">serve</a>
            </li>
        </ul>
    </header>
    <div class="content">
        <div class="container">
            <div class="flex">
                <div class="one">
                    <br>
                    <div>nav-1</div>
                    <br>
                    <div>nav-2</div>
                    <br>
                    <div>nav-3</div>
                    <br>
                </div>
                <div class="two">
                    <h1>test one</h1>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>关于我们</li>
            <li>下载app</li>
            <li>联系我们</li>
        </ul>
    </footer>
</body>
</html>