<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../base.css">
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="">index</a>
            </li>
            <li>
                <a href="">weike</a>
            </li>
            <li>
                <a href="">serve</a>
            </li>
        </ul>
    </header>
    <div class="content">
        <div class="container">
            <div class="flex">
                <ul class="one">
                    <li class="nav-1 on open" onclick="clicked(this)">
                        <span>个人中心</span>
                        <ul class="one two">
                            <li class="on">1-1</li>
                            <li>1-2</li>
                            <li>1-3</li>
                        </ul>
                    </li>
                    <li class="nav-1 on" onclick="clicked(this)">
                        <span>我的收藏</span>
                        <ul class="one two">
                            <li class="on">1-1</li>
                            <li>1-2</li>
                            <li>1-3</li>
                        </ul>
                    </li>
                    <li class="nav-1 on" onclick="clicked(this)">
                        <span>我的提问</span>
                        <ul class="one two">
                            <li class="on">1-1</li>
                            <li>1-2</li>
                            <li>1-3</li>
                        </ul>
                    </li>
                    <li class="nav-1">
                        <span>修改信息</span>
                        <ul class="one two">
                            <li class="on">2-1</li>
                            <li>2-2</li>
                            <li>2-3</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <li>关于我们</li>
            <li>下载app</li>
            <li>联系我们</li>
        </ul>
    </footer>
</body>
<script>
    function clicked(self) {
        console.log(hasClass(self, "open"));
    }

    function hasClass(obj,sClass) {

        var oldClass = obj.className;

        var re = new RegExp('\\b' + sClass + '\\b');

        if (re.test(oldClass)) {

            obj.className=obj.className.split(sClass).join("").replace(/\s+$/,"")

        } else {

            obj.className = oldClass +" "+ sClass

        }
    }

</script>
</html>