/* 在normalize.css基础上，业务定制的基础样式,自行重置修改 */
button {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-smoothing: antialiased;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}
.content {
  min-height: 530px;
  max-width: 1020px;
  margin: 0 auto;
}

button,
input[type="checkbox"] {
  outline: none;
}

b, strong {
  font-weight: bold;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
}
/*header a {*/
  /*color: #f65131;*/
  /*text-decoration: none;*/
/*}*/
/*header a.active {*/
  /*color: #555;*/
  /*text-decoration: none;*/
/*}*/
header a {
  color: #555;
  text-decoration: none;
}
header a.active {
  color: #f65131;
  text-decoration: none;
}
footer {
  margin-top: 20px;
}
header {
  padding: 10px 0;
  border: 1px solid #ddd;
  background-color: #fff;
}
.content {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html:after, html:before {
  content: "";
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.two {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.two {
  border: 1px solid transparent;
}
body {
  margin-top: 20px;
}
.on {
  color: #f65131;
}
a {
  color: #333;
  text-decoration: none;
}

.one {
  display: block;
}


@keyframes slideD {
  0% {
    display: block;
    max-height: 0px;
  }
  99% {
    max-height: 300px;
  }
  100% {
    height: 100%;
    display: block;
  }
}
@keyframes slideU {
  0% {
    display: block;
    max-height: 300px;
    height: 100%;
  }
  99% {
    display: block;
    max-height: 0px;
    height: 0;
  }
  100% {
    height: 0;
    display: none;
  }
}


.ant-menu-inline .ant-menu-selected, .ant-menu-inline .ant-menu-item-selected {
  border-right: 2px solid #f65131;
}
.ant-menu-item-selected {
  color: #f65131;
}
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  background-color: transparent;
  color: #f65131;
}
.tc {
  text-align: center;
}
.e-menu .ant-menu-item {
  line-height: 55px;
  height: 55px;
  font-size: 18px;
}
.e-menu .ant-menu-submenu-title {
  line-height: 55px!important;
  height: 55px!important;
  font-size: 18px!important;
}
.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
  color: #f65131;
}


.menu-inline {
  width: 200px;
  text-align: left;
  border-right: 1px solid #e9e9e9;
  margin-right: 20px;
  box-shadow: none;

  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #666;
  background: #fff;
  line-height: 46px;
}

.menu-item {
  border-right: 1px solid #e9e9e9;
  margin-left: -1px;
  left: 1px;
  position: relative;
  z-index: 1;
  padding: 0px 16px 0 28px;

  line-height: 55px;
  height: 55px;
  font-size: 18px;
}
.menu-item, .menu-submenu, .menu-submenu-title {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-submenu {
  position: relative;
}
.menu-submenu-title {
  line-height: 55px;
  height: 55px;
  font-size: 18px;
}
.menu-inline > .menu-item {
  padding: 0px 16px 0 28px;
}
.menu-submenu > .menu-submenu-title {
  padding: 0px 16px 0 28px;
}
.sub-mini {
  font-size: 14px;
  padding-left: 52px!important;
}
.menu-sub.menu-inline > .menu-item {
  line-height: 42px;
  height: 42px;
  list-style: none;
}
.menu-submenu-title i {
  font-size: 18px;
}
.menu-item-selected {
  border-right: 2px solid #f65131;
  color: #f65131;
}
.menu-submenu-title:hover, .sub-mini:hover, .menu-item:hover {
  color: #f65131;
}


.menu-submenu-inline > .menu-submenu-title:after {
  font-family: "iconfont" !important;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  position: absolute;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  content: "\E61D";
  right: 16px;
  top: 0;
  display: inline-block;
  font-size: 12px;
  font-size: 8px \9;
  -webkit-transform: scale(0.66666667) rotate(0deg);
  -ms-transform: scale(0.66666667) rotate(0deg);
  transform: scale(0.66666667) rotate(0deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
}
.menu-submenu-open.menu-submenu-inline > .menu-submenu-title:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(180deg) scale(0.75);
  -ms-transform: rotate(180deg) scale(0.75);
  transform: rotate(180deg) scale(0.75);
}