/* 在normalize.css基础上，业务定制的基础样式,自行重置修改 */
button {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-smoothing: antialiased;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button,
input[type="checkbox"] {
  outline: none;
}

b, strong {
  font-weight: bold;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
}
/*header a {*/
  /*color: #f65131;*/
  /*text-decoration: none;*/
/*}*/
/*header a.active {*/
  /*color: #555;*/
  /*text-decoration: none;*/
/*}*/
header a {
  color: #555;
  text-decoration: none;
}
header a.active {
  color: #f65131;
  text-decoration: none;
}
ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
li {
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
footer {
  margin-top: 20px;
}
header {
  padding: 10px 0;
  border: 1px solid #ddd;
  background-color: #fff;
}
.content {
  background-color: #fff;
  min-height: 300px;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html:after, html:before {
  content: "";
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.two {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.one {
  width: 120px;
  text-align: center;
  border: 1px solid #eee;
  margin-right: 20px;
}
.two {
  border: 1px solid transparent;
}
.one div {
  cursor: pointer;
  margin: 10px 0;
}
body {
  margin-top: 20px;
}
.on {
  color: #f65131;
}
a {
  color: #333;
  text-decoration: none;
}

.one {
  display: block;
}
.one li {
  padding: 10px 0;
  color: #333;
  cursor: pointer;

  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.nav-1.on, .two .on {
  color: #f65131;
}

.two {
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;

}

.nav-1 {
  cursor: pointer;
}
.nav-1 .on.open+ul {
  height: 100%;
  display: block;

  animation: slideD 2s ease;
}
.nav-1 ul {
  overflow: hidden;
  display: none;
}


@keyframes slideD {
  0% {
    display: block;
    max-height: 0px;
  }
  99% {
    max-height: 300px;
  }
  100% {
    height: 100%;
  }
}
@keyframes slideU {
  0% {
    display: block;
    max-height: 300px;
    height: 100%;
  }
  99% {
    display: block;
    max-height: 0px;
    height: 0;
  }
  100% {
    height: 0;
    display: none;
  }
}