/* 在normalize.css基础上，业务定制的基础样式,自行重置修改 */
button {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-smoothing: antialiased;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button,
input[type="checkbox"] {
  outline: none;
}

b, strong {
  font-weight: bold;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
}
/*header a {*/
  /*color: #f65131;*/
  /*text-decoration: none;*/
/*}*/
/*header a.active {*/
  /*color: #555;*/
  /*text-decoration: none;*/
/*}*/
header a {
  color: #555;
  text-decoration: none;
}
header a.active {
  color: #f65131;
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-around;
}
footer {
  margin-top: 20px;
}
header {
  padding: 10px 0;
  border: 1px solid #ddd;
  background-color: #fff;
}
.content {
  background-color: #fff;
  min-height: 300px;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
}
html:after, html:before {
  content: "";
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: stretch;
}
.two {
  flex: 1;
}
.one {
  width: 120px;
  text-align: center;
  border: 1px solid #eee;
  margin-right: 20px;
}
.one div {
  cursor: pointer;
  margin: 10px 0;
}
body {
  margin-top: 20px;
}
.on {
  color: #f65131;
}
a {
  color: #333;
  text-decoration: none;
}